<section id="editContainer">
  {{#data}}
  <form action="/edit/{{id}}" method="post">
    <input type="text" name="title" value="{{title}}" placeholder="What do you have todo?">
    <button type="submit" name="button">Edit</button>
  </form>
  {{/data}}
</section>
