<header>
  <h1>My Todo List (with Sequelize)</h1>
  <form id="addForm" action="/create" method="post">
    <input type="text" name="title" value="" placeholder="What do you have todo?">
    <button type="submit" name="button"><i class="material-icons">add</i></button>
  </form>
</header>
<main>
  <section id="incomplete">
    <h2>Todo</h2>
    {{#data}}
      {{^completedAt}}
        <div class="todoItem">
          <a class="checkbox" href="/check/{{id}}"><i class="material-icons">done</i></a>
          <p>{{title}}</p>
          <a class="edit" href="/edit/{{id}}"><i class="material-icons">create</i></a>
          <a class="delete" href="/delete/{{id}}"><i class="material-icons">clear</i></a>
        </div>
      {{/completedAt}}
    {{/data}}
  </section>
  <section id="complete">
    <h2>Done</h2>
    <p><a href="/delete-done">Delete all</a></p>
    {{#data}}
      {{#completedAt}}
        <div class="todoItem">
          <a class="checkbox done" href="/uncheck/{{id}}"><i class="material-icons">done</i></a>
          <p><del>{{title}}</del></p>
          <a class="edit" href="/edit/{{id}}"><i class="material-icons">create</i></a>
          <a class="delete" href="/delete/{{id}}"><i class="material-icons">clear</i></a>
        </div>
      {{/completedAt}}
    {{/data}}
  </section>
</main>
