<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Sequelize Todo List</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>My Todo List (with Sequelize)</h1>
        <form id="addForm" action="/create" method="post">
          <input type="text" name="What do you have todo?" value="">
          <button type="submit" name="button">Add</button>
        </form>
      </header>
      {{{yield}}}
    </div>
  </body>
</html>
