body {}
* {
  font-family: 'Roboto', Helvetica, sans-serif;
}
.container {
  margin: 10px auto;
  max-width: 600px;
  width: 100%;
}
.container > * {
  margin: 0 10px;
}
header {
  display: flex;
  flex-flow: column nowrap;
}
header h1 {
  margin-right: 20px;
}
form {
  display: flex;
  flex: 1 50%;
  flex-flow: row nowrap;
}
form * {
  font-size: 1em;
  padding: 10px;
}
form input {
  border: 1px solid lightgray;
  border-right: 0;
  flex: 1 50%;
}
form button {
  padding: 10px 20px;
}
.todoItem {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
.todoItem p {
  flex: 1 50%;
  font-size: 1.25em;
}
.checkbox {
  background: white;
  border: 2px solid #999;
  border-radius: 3px;
  color: transparent;
  font-size: 0.1em;
  margin-right: 10px;
  padding: 1px;
}
.checkbox:hover {
  background: #f1f1f1;
}
.done {
  background: #ddd;
  color: #999;
}
.done:hover {
  background: #c4c4c4;
  color: #999;
}
.delete, .edit {
  color: #999;
  text-decoration: none;
}
.delete:hover, .edit:hover {
  color: #666;
}
