body {}
* {
  font-family: 'Roboto', Helvetica, sans-serif;
}
header {
  display: flex;
  flex-flow: row nowrap;
}
header h1 {
  margin-right: 20px;
}
#addForm {
  display: flex;
  flex: 1 50%;
  flex-flow: row nowrap;
}
#addForm * {
  font-size: 1em;
  padding: 10px;
}
#addForm input {
  border: 1px solid lightgray;
  border-right: 0;
  flex: 1 50%;
}
#addForm button {
  padding: 10px 20px;
}
